@import 'normalize.css';
@import 'layout.scss';
@import 'circle.css';

/*====================================================
                        Grid
====================================================*/
.info-field{
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.col{
    padding: 60px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    
}
.left-col{
    width: 33%;
    box-shadow: 7px 0 5px #888;
    @media screen and (max-width: 950px){
        padding-bottom: 0;
    }
}
.right-col{
    width: 66%;
    @media screen and (max-width: 950px){
        padding-top: 0;
    }
    }
.right-col, .left-col{
    @media screen and (max-width: 950px){
        width: 95%;
        box-shadow: none;
    }
}

/*====================================================
                        Divider
====================================================*/
.divider{
    background-color: $divider-color;
    padding: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.divider-text{
    width: 76.165%;
    color: $title-text-color;
    line-height: 1.4;
    letter-spacing: 2;
    font-weight: 300;
    @media screen and (min-width: 950px){
        width: 86.2734%;
    }
}

/*====================================================
                    Main content
====================================================*/

/*=============PERSONAL=====================*/
.personal-section{
    table{
        border-collapse: collapse;
    }
    td{
        width: 150px;
        height: 60px;
    }
    tr{
        border-bottom: 1px solid #888;
    }
}
.tb-prop{
    font-weight: 700;
}

/*=============SOFTWARE=====================*/
.software-wrapper{
    td{
        width: 150px;
        height: 30px;
    }
}
progress{                           //Lots of mess in here cause of inconsistent progress implementation in browsers
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 2px;
    width: 150px;
    background: #888;
    color: $accent-color;
}
progress::-webkit-progress-bar{
    background: #888;
    border-radius: 2px;
}
progress::-webkit-progress-value{
    background-color: $accent-color;
    border-radius: 2px;
}
progress::-moz-progress-bar{
    background: $accent-color;
}




/*=============HOBBIES=====================*/
.hobbies-section{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
}
.hobby-field{
    width: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: .8em;
    margin: 15px;
    .icon-box{
        color: $title-text-color;
    }
    icon-text{
        color: #000;
    }
}
@media screen and (min-width: 554px) and (max-width: 950px){
    .hobbies-section{
        width: 419.77px;  //This is just a hack to keep hobbies section display 2 rows of 3 icons on tablets
    }
}
@media screen and (min-width: 1300px){
    .hobbies-section{
        width: 419.77px; //To keep 2 rows of 3 icons on wide screens
    }
}

/*=============WORK & EDU=====================*/
.position:last-child {
    .position-description {
        margin-bottom: 0;
    }
}
.position-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-top: 5px;
}
.position-description {
    border-bottom: 1px solid #888;
    padding-bottom: 45px;
}
.position {
    border-left: 1px solid $accent-color;
    padding-left: 10%;
    margin-left: 5%;
    position: relative;
}
.position:before{
    position: absolute;
    top: 0;
    left: -2.5%;
    width: 5%;
    height: 0;
    overflow: hidden;
    display: block;
    content: "";
    border-radius: 50%;
    background-color: $accent-color;
    padding-bottom: 5%;

}

/*=============SKILLS=====================*/
.skills-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}