@import url(normalize.css);
@import url(layout.css);
/*====================================================
                        Grid
====================================================*/
.info-field {
  height: 300px;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black; }

.col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around; }

.left-col {
  width: 33%; }

.right-col {
  width: 66%; }

@media screen and (max-width: 950px) {
  .right-col, .left-col {
    width: 95%; } }
