@import 'normalize.css';
@import 'layout.scss';

/*====================================================
                        Grid
====================================================*/
.info-field{
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.col{
    padding: 60px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    
}
.left-col{
    width: 33%;
    box-shadow: 7px 0 5px #888;
}
.right-col{
    width: 66%;
    }
.right-col, .left-col{
    @media screen and (max-width: 950px){
        width: 95%;
        box-shadow: none;
    }
}

/*====================================================
                        Divider
====================================================*/
.divider{
    background-color: $divider-color;
    padding: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.divider-text{
    width: 76.165%;
    color: $title-text-color;
    line-height: 1.4;
    letter-spacing: 2;
    font-weight: 300;
    @media screen and (min-width: 950px){
        width: 86.2734%;
    }
}

/*====================================================
                    Main content
====================================================*/

/*=============PERSONAL=====================*/
.personal-section{
    table{
        border-collapse: collapse;
    }
    td{
        width: 150px;
        height: 60px;
    }
    tr{
        border-bottom: 1px solid #888;
    }
}
.tb-prop{
    font-weight: 700;
}

/*=============SOFTWARE=====================*/


/*=============HOBBIES=====================*/
.hobbies-section{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
}
.hobby-field{
    width: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: .8em;
    margin: 15px;
    .icon-box{
        color: $title-text-color;
    }
    icon-text{
        color: #000;
    }
}

/*=============WORK=====================*/


/*=============SKILLS=====================*/


/*=============EXPERIENCE=====================*/