@import 'normalize.css';
@import 'layout.css';

/*====================================================
                        Grid
====================================================*/
.info-field{
    height: 300px;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
.col{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}
.left-col{
    width: 33%;
}
.right-col{
    width: 66%;
    }
.right-col, .left-col{
    @media screen and (max-width: 950px){
        width: 95%;
    }
}