/*====================================================
                        Variables
====================================================*/
//COLORS
$primary-color: #0AA6E1;
$accent-color: #028CD5;
$divider-color: #5B666C;
$bcg-color: #FFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent-text: #B3E5FC;
$title-text-color: #FFF;
$cover-color: rgba(#0AA6E1, 0.5);

//FONTS
$title-text-font: 'Roboto', sans-serif;
$reg-text: 'Open Sans', sans-serif;

/*====================================================
                        Typography
====================================================*/
html{
    font-family: $reg-text;
    font-size: 15px;
    @media screen and (min-width: 800px){
        font-size: 17px;
    }
}
h1{
    font-family: $title-text-font;
    font-size: 2.5em;
    letter-spacing: 3;
    font-weight: 400;
}
h2{
    font-family: $title-text-font;
    font-size: 1.5em;
    letter-spacing: 2;
    font-weight: 300;
}
h3{
    font-family: $title-text-font;
    font-size: 1.3em;
    letter-spacing: 2;
}
.primary-nav{
    font-size: 1.1em;
}
.icon-field, .adress-bar{
    font-size: .7em
}
a{
    text-decoration: none;
    color: inherit;
}

/*====================================================
                        Navbar
====================================================*/
.primary-nav{
    background-color: $accent-color;
    width: 100%;
    height: 70px;
    color: $accent-text;
}
.link-box{
    margin: auto;
    width: 320px;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    a {
        height: 98%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        &:hover{
            background-color: $primary-color;
        }
    }
    @media screen and (min-width: 640px){
        margin-left: 7%;
    }
}
.checked{
    color: $title-text-color;
    border-bottom: 2px solid $title-text-color;
}

/*====================================================
                        Header
====================================================*/
header{
    background-color: $primary-color;
    color: $title-text-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 0 7px 5px #212121;
    position: relative;
    z-index: 3;
}
.header-field{
    width: 320px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.face-field{
    background: -webkit-linear-gradient($cover-color, $cover-color), url("../images/face.png");
    background: -o-linear-gradient($cover-color, $cover-color), url("../images/face.png");
    background: linear-gradient($cover-color, $cover-color), url("../images/face.png");
    background-size: cover;
    display: none;
    @media screen and (min-width: 660px){
        display: block;
    }
}
/*====================================================
                        Main
====================================================*/
main{
    background-color: #FFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 3%;
}

/*====================================================
                        Footer
====================================================*/
footer{
    background-color: $primary-color;
    color: $title-text-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    .footer-field{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}
.icon-field{
    height:170px;
    width: 28%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @media screen and(max-width: 540px){
        height: 140px;
        .icon-text{
            display: none;
        }
    }
}
.icon-box{
    width: 75px;
    height: 75px;
    font-size: 3em;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: $accent-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;  
}
.adress-bar{
    height:50px;
    text-align: center;
    line-height: 1.6;
    background-color: $accent-color
}

