/*====================================================
                        Variables
====================================================*/
/*====================================================
                        Typography
====================================================*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }
  @media screen and (min-width: 800px) {
    html {
      font-size: 17px; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  letter-spacing: 3;
  font-weight: 400; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  letter-spacing: 2;
  font-weight: 300; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  letter-spacing: 2; }

.primary-nav {
  font-size: 1.1em; }

.icon-field, .adress-bar {
  font-size: .7em; }

a {
  text-decoration: none;
  color: inherit; }

/*====================================================
                        Navbar
====================================================*/
.primary-nav {
  background-color: #028CD5;
  width: 100%;
  height: 70px;
  color: #B3E5FC; }

.link-box {
  margin: auto;
  width: 320px;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap; }
  .link-box a {
    height: 98%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1; }
    .link-box a:hover {
      background-color: #0AA6E1; }
  @media screen and (min-width: 640px) {
    .link-box {
      margin-left: 7%; } }

.checked {
  color: #FFF;
  border-bottom: 2px solid #FFF; }

/*====================================================
                        Header
====================================================*/
header {
  background-color: #0AA6E1;
  color: #FFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 0 7px 5px #212121;
  position: relative;
  z-index: 3; }

.header-field {
  width: 320px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around; }

.face-field {
  background: -webkit-linear-gradient(rgba(10, 166, 225, 0.5), rgba(10, 166, 225, 0.5)), url("../images/face.png");
  background: -o-linear-gradient(rgba(10, 166, 225, 0.5), rgba(10, 166, 225, 0.5)), url("../images/face.png");
  background: linear-gradient(rgba(10, 166, 225, 0.5), rgba(10, 166, 225, 0.5)), url("../images/face.png");
  background-size: cover;
  display: none; }
  @media screen and (min-width: 660px) {
    .face-field {
      display: block; } }

/*====================================================
                        Main
====================================================*/
main {
  background-color: #FFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 3%; }

/*====================================================
                        Footer
====================================================*/
footer {
  background-color: #0AA6E1;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around; }
  footer .footer-field {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; }

.icon-field {
  height: 170px;
  width: 28%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 540px) {
    .icon-field {
      height: 140px; }
      .icon-field .icon-text {
        display: none; } }

.icon-box {
  width: 75px;
  height: 75px;
  font-size: 3em;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #028CD5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }

.adress-bar {
  height: 50px;
  text-align: center;
  line-height: 1.6;
  background-color: #028CD5; }
